<div *ngIf="this.isEdit === true; else home">
  <app-edit-note [key]="key"></app-edit-note>
</div>
<ng-template #home>
  <div class="heading">Recent Items</div>
  <br />

  <mat-grid-list cols="3" rowHeight="3:2" gutterSize="8px">
    <mat-grid-tile
      class="content-title"
      [style.background-color]="recent.payload.val().color"
      >{{ recent.payload.val().content }}
      <mat-grid-tile-header>{{
        recent.payload.val().title
      }}</mat-grid-tile-header>
      <mat-grid-tile-footer class="footer">
        {{ recent.payload.val().day }}
        {{ recent.payload.val().time }}

        <button
          mat-button
          class="color-button"
          (click)="setBackgroundColor(recent.payload.key)"
        >
          <mat-icon class="color-icon">palette</mat-icon>
        </button>
        <button
          mat-button
          class="edit-button"
          (click)="editNote(recent.payload.key)"
        >
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button
          mat-button
          class="delete-button"
          (click)="deleteNote(recent.payload.key)"
        >
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <br />
  <div class="heading2">All Notes</div>
  <br />

  <mat-grid-list cols="3" rowHeight="3:2" gutterSize="8px">
    <mat-grid-tile
      class="content-title"
      *ngFor="let t of temp; let i = index"
      [style.background-color]="t.payload.val().color"
      >{{ t.payload.val().content }}
      <mat-grid-tile-header>{{ t.payload.val().title }}</mat-grid-tile-header>
      <mat-grid-tile-footer class="footer">
        {{ t.payload.val().day }}
        {{ t.payload.val().time }}

        <button
          mat-button
          class="color-button"
          (click)="setBackgroundColor(t.payload.key)"
        >
          <mat-icon class="color-icon">palette</mat-icon>
        </button>
        <button
          mat-button
          class="edit-button"
          (click)="editNote(t.payload.key)"
        >
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button
          mat-button
          class="delete-button"
          (click)="deleteNote(t.payload.key)"
        >
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<!-- <mat-card class="card" *ngFor="let t of temp; let i = index">
  <mat-card-title class="card-title">{{
    t.payload.val().title
  }}</mat-card-title>
  <mat-divider class="divider"></mat-divider>

  <mat-card-content class="card-content">
    <br />

    {{ t.payload.val().content }}
  </mat-card-content>

  <mat-card-footer class="footer">
    {{ t.payload.val().day }}
    {{ t.payload.val().time }}

    <button mat-button class="edit-button" (click)="editNote(t.payload.key)">
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
    <button
      mat-button
      class="delete-button"
      (click)="deleteNote(t.payload.key)"
    >
      <mat-icon class="delete-icon">delete</mat-icon>
    </button>
  </mat-card-footer>
</mat-card> -->
