<div *ngIf="this.isEdit === true; else home">
  <app-edit-note [key]="key"></app-edit-note>
</div>
<ng-template #home>
  <div class="heading">Recent Items</div>
  <br />

  <mat-grid-list cols="3" rowHeight="3:2" gutterSize="8px">
    <mat-grid-tile
      class="content-title"
      [style.background-color]="r.color"
      *ngFor="let r of recent"
    >
      <div [froalaView]="r.content"></div>

      <mat-grid-tile-header [froalaView]="r.title"></mat-grid-tile-header>
      <mat-grid-tile-footer class="footer">
        {{ r.day }}
        {{ r.time }}

        <button
          mat-button
          matTooltip="Set Color"
          class="color-button"
          (click)="setBackgroundColor(r.key)"
        >
          <mat-icon class="color-icon">palette</mat-icon>
        </button>
        <button
          mat-button
          class="edit-button"
          matTooltip="Edit Note"
          (click)="editNote(r.key)"
        >
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button
          mat-button
          matTooltip="Delete Note"
          class="delete-button"
          (click)="deleteNote(r.key)"
        >
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <br />
  <div class="heading2">All Notes</div>
  <br />

  <mat-grid-list cols="3" rowHeight="3:2" gutterSize="8px">
    <mat-grid-tile
      class="content-title"
      *ngFor="let t of temp; let i = index"
      [style.background-color]="t.payload.val().color"
      ><div [froalaView]="t.payload.val().content"></div>
      <mat-grid-tile-header
        [froalaView]="t.payload.val().title"
      ></mat-grid-tile-header>
      <mat-grid-tile-footer class="footer">
        {{ t.payload.val().day }}
        {{ t.payload.val().time }}

        <button
          mat-button
          class="color-button"
          matTooltip="Set Color"
          (click)="setBackgroundColor(t.payload.key)"
        >
          <mat-icon class="color-icon">palette</mat-icon>
        </button>
        <button
          mat-button
          class="edit-button"
          matTooltip="Edit Note"
          (click)="editNote(t.payload.key)"
        >
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button
          mat-button
          class="delete-button"
          matTooltip="Delete Note"
          (click)="deleteNote(t.payload.key)"
        >
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
