/* .mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
} */

.on-hover {
  box-shadow: 1px 1px 1px grey;
}

.on-hover:hover {
  box-shadow: 5px 5px 5px grey;
  transition: 0.2s;
}

.on-save:hover {
  box-shadow: 3px 3px 3px grey;
}

.heading {
  background-color: white;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-left: 6px;
}
